@import "../../styleVariables/coldVariables.css";

.wrap {
  display: flex;
  flex-direction: column;
  font-family: var(--font-paragraph-m-family);
}

.label {
  font-size: 16px;
  margin-bottom: var(--spacer-xs) + var(--spacer-s);
}

.input {
  --input-br: var(--rd-m);
  font-family: var(--font-paragraph-m-family);
  min-width: 240px;
  height: 58px;
  border-radius: var(--input-br);
  border: 1px solid var(--clr-n5);
  padding: var(--spacer-m);
  font-size: 20px;
  transition: all 0.2s ease;
}

.input:hover {
    border: 1px solid var(--clr-n6);
}

.input:focus {
    outline: none;
    background: rgba(255,255,255,0.86)
}

.input::placeholder {
    color: rgba(0,0,0,0.2)
}