name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Cypress.io
      uses: cypress-io/github-action@v1.16.1
      with:
        record: false
        build: npm run build
        start: npm start
        wait-on: http://localhost:3001
      env:
        BASE_URL: http://localhost:3001
        LOCAL: false
